<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>533155070430-bkhnrm38d3rig4eougj7v51ckp6avo2f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.533155070430-bkhnrm38d3rig4eougj7v51ckp6avo2f</string>
	<key>API_KEY</key>
	<string>AIzaSyAbpzvAvxF-Gvi7JFOJZAFspbTqlnxEvYo</string>
	<key>GCM_SENDER_ID</key>
	<string>533155070430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jdk.RecipeGo-</string>
	<key>PROJECT_ID</key>
	<string>recipegoteam</string>
	<key>STORAGE_BUCKET</key>
	<string>recipegoteam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:533155070430:ios:81e00a59ae7c4a3a639d4f</string>
</dict>
</plist>